<footer id="footer" class="container">
  <img class="separator" alt="Separator made up of 3 primary shapes and colours" src="/assets/img/bauhaus.svg">
  <nav>
    <a href="/">Home</a>
    <span> | </span>
    <a href="/posts">Posts</a>
    <span> | </span>
    <a href="/about">About</a>
  </nav>
</footer>
