<div id="navbar">
  <div class="content">
    <img class="logo" alt="Tota logo" src="/assets/img/tota-logo.svg" />
    <nav>
      <a href="/docs">Docs</a>
      <a href="/articles">Articles</a>
      <a href="https://github.com/tota-dart/tota">GitHub</a>
    </nav>
  </div>
  <div class="content">
    <a class="github-button" href="https://github.com/tota-dart/tota" data-size="large" aria-label="Star tota-dart/tota on GitHub">Star</a>
  </div>
</div>
