<aside class="sidebar">
  <h2>Docs</h2>

  <nav>
    <h4>Getting started</h4>
    <ul>
      <li><a href="/docs">Overview</a></li>
      <li><a href="/docs/commands">Commands</a></li>
      <li><a href="/docs/configuration">Configuration</a></li>
    </ul>
  </nav>

  <nav>
    <h4>Usage</h4>
    <ul>
      <li><a href="/docs/pages">Pages</a></li>
      <li><a href="/docs/posts">Posts</a></li>
      <li><a href="/docs/front-matter">Front matter</a></li>
      <li><a href="/docs/templates">Templates</a></li>
      <li><a href="/docs/assets">Assets</a></li>
    </ul>
  </nav>
</aside>
