section.about

  img.about__logo(src='static/img/logo.svg', alt='izolate logo')

  p.about__text.
    Full stack developer, open-source advocate and occasional designer.
    I write in #[em JavaScript], #[em Node.js] & #[em Python] for the web.
    I don't blog, so find me on:

  ul.about__list
    li
      a(href=env.TWITTER) Twitter
    li
      a(href=env.GITHUB) GitHub
    li
      a(href=env.LINKEDIN) LinkedIn
    li
      a(href=env.INSTAGRAM) Instagram
