meta(charset='utf-8')
meta(name='viewport' content='initial-scale=1.0, maximum-scale=1.0')
meta(name='description', content='Yosh Talwar (izolate) is a full stack developer and occasional designer. Loves JavaScript, Python and open-source in general.')

block title
  title Yosh Talwar - Full Stack Developer

link(rel='stylesheet', href='dist/index.css')
