extends ../base.pug

block content
  main.container
    section
      h2 Contact

      h4 Email
      p izolate@gmail.com

      h4 Social media
      ul
        +link('Twitter', 'https://twitter.com/izolate')
        +link('GitHub', 'https://github.com/izolate')
        +link('LinkedIn', 'https://linkedin.com/in/talwary')
        +link('Instagram', 'https://instagram.com/izol4te')
        +link('Facebook', 'https://facebook.com/yat86')
        +link('HN', 'https://news.ycombinator.com/user?id=izolate')
        +link('DEV.to', 'https://dev.to/yosh')
        +link('Keybase', 'https://keybase.io/izolate')
