page = about

.{page}
  margin 0 auto
  max-width 640px
  +above(960px)
    transform scale(1.25)

.{page}__logo
  width 100%
  max-width 300px

.{page}__list
  margin-top .5em

  li
    display inline-block
    margin-right 1em

    &:last-child
      margin-right 0
