html
  box-sizing border-box

body
  padding 2em
  background-color color-bg
  font-size font-size
  font-family font-family
  font-smoothing antialiased
  line-height line-height
  text-rendering optimizeLegibility
  color color-text

*
  box-sizing inherit
  margin 0
  padding 0

a
  position relative
  color white
  text-decoration none

  &::after
    content ''
    position absolute
    left 0
    bottom -3px
    width 0%
    height 3px
    background-color color-red
    transition all .25s linear

  &:hover::after
    width: 100%

ul
  list-style none
