// Typography
font-family = 'helvetica neue', 'helvetica', sans-serif
font-size = 1.5rem
line-height = 1.5em

// Colors
color-grey = #8D8D8E
color-dark-grey = #404040
color-light-grey = #F2F3F5
color-red = #FF4E3E
color-text = #9BADCA
color-bg = #2E3E57
