/**
 * Table of Contents.
 *
 * SETTINGS
 * Global...............Globally-available variables and config.
 *
 * GENERIC
 * Defaults.............A level playing field.
 *
 * BASE
 * Headings.............H1–H6 styles.
 * Links................Anchor styles.
 * Code.................Code block styles.
 * Quotes...............Block quote styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 * Footer...............The main footer
 * Article..............Post article
 */

/*------------------------------------*\
  #Global
\*------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:400,400i,500,700&display=swap");
:root {
  /* Fonts */
  --font-size: 19px;
  --font-family: "Ubuntu", sans-serif;
  --font-family-monospace: "Ubuntu Mono", monospace;
  --font-weight-semi-bold: 500;
  --color-white: #ffffff;
  --color-yellow: #f8e81c;
  --color-black: #121212;
  --line-height: 1.5;
  --page-width: 700px;
}

@media (max-width: 800px) {
  :root {
    --page-width: 100%;
  }
}

/*------------------------------------*\
  #Defaults
\*------------------------------------*/

*::selection {
  background: rgba(255, 255, 255, 0.99);
  color: var(--bg-color);
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

/*------------------------------------*\
  #Headings
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semi-bold);
}

/*------------------------------------*\
  #Links
\*------------------------------------*/

a:not(.btn):hover {
  color: var(--color-yellow);
}

/*------------------------------------*\
  #Code
\*------------------------------------*/

pre,
code {
  font-family: var(--font-family-mono);
}

pre {
  overflow: auto;
}

code:not([class^="language-"]) {
  padding: 2px 4px;
  color: #444;
  background-color: #f1f0ea;
  border-radius: 4px;
}

/*------------------------------------*\
  #Code
\*------------------------------------*/

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: 2px solid var(--color-yellow);
  font-style: italic;
}

/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

.container {
  width: 100%;
  max-width: var(--page-width);
  margin: auto;
  padding: 1em;
}

/*------------------------------------*\
  #Footer
\*------------------------------------*/

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#footer nav {
  margin-bottom: 2em;
}

#footer .separator {
  margin: 2em 0;
  height: 15px;
}

/*------------------------------------*\
  #Archive
\*------------------------------------*/
.archive-list {
  list-style: none;
  padding: 0;
}
