section.about

  img.about__logo(src='static/img/logo.svg', alt='izolate logo')

  p.about__text.
    Full stack developer and occasional designer.
    I write in JavaScript, Node.js & Python for the web.
    I have trouble putting my thoughts online, so find me on:

  ul.about__list
    li
      a(href=env.TWITTER) Twitter
    li
      a(href=env.GITHUB) GitHub
    li
      a(href=env.LINKEDIN) LinkedIn
    li
      a(href=env.INSTAGRAM) Instagram
