* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  padding: 50px;
  font: 24px/30px 'muli', 'helvetica neue', sans-serif;
  background: #2c3e50;
  color: #97A7B7;
}

.logo {
  height: 50px;
  margin-bottom: 15px;
}

em {
  background: #5E5F3F;
  color: #F1C40F;
  font-style: normal;
  padding: 0 3px;
}

a {
  color: #BFCBD7;
  border-bottom: 2px dotted #f1c40f;
  text-decoration: none;
}

p {
  max-width: 720px;
}
