extends base.pug

block content
  main.container.post
    nav
      a.btn(href='/') izolate

    article
      header.header
        h1= title
        .meta
          if date
            span.date= date

          if tags
            .tags
              each tag in tags
                span.tag= `#${tag}`

      .markdown-body!= body

block prepend scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js', defer)
