<!doctype html>
<html lang="en">
  <head>
    {% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta description="{{ description | default('izolate is a full-stack software engineer, UI designer, and some other things too.') }}">
    <title>{{ title | default('izolate')}}</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/modern-normalize/0.5.0/modern-normalize.min.css">
    <link rel="stylesheet" href="/assets/index.css">
    <link rel="stylesheet" href="/assets/tomorrow-night-bright.css">
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
