<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main class="container">
      {{{content}}}
    </main>
    {{> footer }}
    <script src="/assets/index.js" defer></script>
  </body>
</html>
