<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>
    <main>
      <article>{{{content}}}</article>
    </main>
    {{> footer }}
    <script src="/assets/index.js" defer></script>
  </body>
</html>
