<!doctype html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body class="docs">
    <div class="sidebar-layout">
      {{> sidebar }}
      <main class="not-sidebar">
        {{{content}}}
      </main>
    </div>
    {{> footer }}
  </body>
</html>
