{% extends "./base.njk" %}

{% block body %}
  <main class="container">
    <article>
      <header>
        <h1>{{ title }}</h1>
        <div class="meta">
        {% if date %}
          <span class="date">{{ date }}</span>
        {% endif %}
        {% if tags %}
          <div class="tags">
          {% for tag in tags %}
            <span class="tag">#{{ tag }}</span>
          {% endfor %}
          </div>
        {% endif %}
        </div>
      </header>
      <div class="markdown-body">
        {{ body | safe }}
      </div>
    </article>
  </main>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
  <script>window.hljs.initHighlightingOnLoad();</script>
{% endblock %}
